main {
  width: 70%;
  margin: 0 auto;
  padding: 3px;
  padding-bottom: 0;
  margin-top: 70px;
  margin-bottom: 30px;
  height: 100%;
}

.project-grid {
  min-height: 700px;
  width: 100%;
}

.project-grid-row {
  display: flex;
  flex-direction: row;
}

.project-grid-cell {
  flex: 1;
  text-align: center;
  margin: 10px;
  transition-duration: 0.3s;
  padding: 10px;
  max-width: calc(33.3% - 40px);
}

.project-grid-cell:hover {
  background-color: #EEE;
}

.project-grid-cell * {
  display: block;
  margin: 0 auto;
}

.project-grid-cell a p {
  color: #333;
  text-decoration: underline;
  font-family: 'Quicksand', 'Arial', sans-serif;
  padding: 3px;
}

.project-grid-cell img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}


/* Social media bit */

#social-media-links-container {
  position: fixed;
  left: calc(15% - 60px);
  margin-top: 20px;
}

.social-media-icon {
  width: 45px;
  background-color: #BBB;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.social-media-icon:hover {
  transform: translateX(5px);
}

#medium-icon {
  background-color: black;
  width: 30px;
  padding: 7.5px;
  filter: grayscale(1.0) brightness(1.2);
}
