main {
  width: 70%;
  margin: 0 auto;
  padding: 3px;
  background-color: white;
  padding-bottom: 0;
  margin-top: 70px;
  margin-bottom: 30px;
}

.project-grid {
  min-height: 700px;
  width: 100%;
}

.project-grid-row {
  display: flex;
  flex-direction: row;
}

.project-grid-cell {
  flex: 1;
  text-align: center;
  margin: 10px;
  transition-duration: 0.3s;
  padding: 10px;
}

.project-grid-cell:hover {
  background-color: #EEE;
}

.project-grid-cell * {
  display: block;
  margin: 0 auto;
}

.project-grid-cell a {
  color: #333;
  text-decoration: underline;
  font-family: 'Arial', sans-serif;
  padding: 3px;
}

.project-grid-cell a:hover {
  animation-name: color-cycle;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.project-grid-cell img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

@keyframes color-cycle {
  0% {
    color: #333;
  }

  100% {
    color: red;
  }
}
