@media all and ( max-width: 900px ) {
  .grid-row-lg {
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  header {
    width: 100%;
    left: 0;
  }

  footer {
    width: 100%;
  }

  .project-grid {
    height: 100%;
  }
  
  .project-grid-cell {
    max-width: 100%
  }

  .project-grid-cell img {
    width: 300px;
    height: 250px;
  }
}

@media only screen and ( max-device-width: 750px ) {
  .grid-row-lg {
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  header {
    width: 100%;
    left: 0;
  }

  footer {
    width: 100%;
    left: 0;
    font-size: 2em;
    text-align: center;
  }

  #footer-email-icon {
    height: 60px;
  }

  .project-grid {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 65px;
  }

  .project-grid-cell img {
    width: 80%;
    height: auto;
  }

  .project-grid-cell a {
    font-size: 3em;
  }

  header a {
    font-size: 5em;
  }

  #social-media-links-container {
    left: 15px;
    top: 200px;
  }

  .social-media-icon {
    width: 90px;
    border-radius: 20px;
  }

  #medium-icon {
    width: 60px;
    padding: 15px;
  }
}
